:root {
  --color-gray-0: #ffffff;
  --color-gray-10: #fafafa;
  --color-gray-50: #777777;
  --color-gray-90: #d7d6d6;
  --color-gray-100: #1f2626;

  --color-violet: #5222d0;
  --color-violet-dark: #201049;

  --color-bg-light: var(--color-gray-10);

  --color-text: var(--color-gray-100);
  --color-text-light: var(--color-gray-0);

  --color-primary: var(--color-violet);

  --header-height: 48px;

  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 40px;
  --space-7: 64px;

  --container-side-margin: var(--space-4);
  --container-max-width: 1440px;

  @include tablet {
    --header-height: 64px;
    --container-side-margin: var(--space-7);
  }
}