@import 'sanitize.css';

@import 'vars';

html {
  scroll-behavior: smooth;
}

body {
  @extend %typo-text-1;

  background-color: var(--color-bg-light);
  color: var(--color-text);
}

a {
  color: var(--color-text);
  display: inline-block;
  text-decoration: none;
}