@import 'sanitize.css';

@import 'vars';

body {
  @extend %typo-text-1;

  background-color: var(--color-bg-light);
  color: var(--color-text);
}

a {
  color: var(--color-text);
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 120%;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:active::after, &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}